<div class="who-we-are">
    <h2>Who are we?</h2>
    <img src="assets/img/logo.png" alt="Company Logo">
    <p class="intro">
      We have over 3 years of experience in professional arboriculture, providing tree cutting, pruning, removal, planting, and full care.
    </p>
  </div>
  
  <div class="cards-container">
    <mat-card class="info-card">
      <h3>Our Services</h3>
      <mat-list>
        <mat-list-item>Tree cutting and pruning</mat-list-item>
        <mat-list-item>Tree removal</mat-list-item>
        <mat-list-item>Removal of tree stumps</mat-list-item>
        <mat-list-item>Tree stump grinding</mat-list-item>
        <mat-list-item>Tree planting</mat-list-item>
        <mat-list-item>Tree support and reinforcement</mat-list-item>
        <mat-list-item>Tree transplantation</mat-list-item>
        <mat-list-item>Land clearing</mat-list-item>
        <mat-list-item>Clean - Ups</mat-list-item>
      </mat-list>
    </mat-card>
  
    <mat-card class="info-card">
      <h3>Our Coverage</h3>
      <mat-list>
        <mat-list-item>Springfield, Tennessee, EE. UU.</mat-list-item>
        <mat-list-item>Nashville, Tennessee, EE. UU.</mat-list-item>
        <mat-list-item>Brentwood, Tennessee, EE. UU.</mat-list-item>
        <mat-list-item>Hendersonville, TN, EE. UU.</mat-list-item>
        <mat-list-item>Franklin, TN, EE. UU.</mat-list-item>
        <mat-list-item>Clarksville, TN, EE. UU.</mat-list-item>
        <mat-list-item>Mt Juliet TN, EE. UU.</mat-list-item>
        <mat-list-item>Mumfresboro TN, EE. UU.</mat-list-item>
      </mat-list>
    </mat-card>
  
    <mat-card class="info-card">
      <h3>Our Schedules</h3>
      <p>From Monday to Sunday, 24 hours a day, 365 days a year.</p>
      <p>We are experts in tree care, licensed and insured.</p>
    </mat-card>
  </div>
  